aioconsole
aiofiles
aiohttp[speedups]
aiohttp_jinja2
aioresponses
aiosqlite
beautifulsoup4
humanize
python-dateutil

# testing and quality
flake8
flake8-isort
pytest
pytest-asyncio<0.15.0
pytest-aiohttp
pytest-cov
pytest-flake8
time-machine

# development
pip-tools
watchgod
