aioconsole
aiofiles
aiohttp[speedups]
aiohttp_jinja2
aioresponses
aiosqlite
python-dateutil

# testing and quality
flake8
flake8-isort
pytest
pytest-asyncio
pytest-aiohttp
pytest-cov
pytest-flake8
time-machine

# development
pip-tools
watchgod
