# production
aioconsole
aiofiles
aiohttp-jinja2
aiohttp[speedups]
aioresponses
aiosqlite
beautifulsoup4
humanize
lxml
opentelemetry-api
opentelemetry-distro
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-jinja2
opentelemetry-instrumentation-logging
python-dateutil

# development
black
isort
pip-tools
pylint
pytest
pytest-aiohttp
pytest-asyncio
pytest-black
pytest-cov
pytest-isort
pytest-pylint
pytest-xdist
watchfiles
