{% extends "base.html" %}
{% block content %}
  {% for entry in entries %}
  {% set subscription = subscriptions[entry.feed] %}
  <article>
    <header>
      <h1>
        {% if entry.link %}
        <a href="{{entry.link}}" target="_blank">
        {% endif %}
          {{entry.title}}
        {% if entry.link %}
        </a>
        {% endif %}
      </h1>

      {% for creator in entry.creators %}
      {% if loop.first %}
      <ol class='creators'>
      {% endif %}
        <li><a href="?creator={{creator|urlencode}}">{{creator}}</a></li>
      {% if loop.last %}
      </ol>
      {% endif %}
      {% endfor %}

      <time datetime="{{entry.timestamp.isoformat()}}" title="{{entry.timestamp|friendly_date}}">
      {{ entry.timestamp|time_ago }} ago
      </time>
      <a href="?feed={{subscription.feed|urlencode}}">
        {{subscription.title}}
      </a>

      {% for category in entry.categories %}
      {% if loop.first %}
      <ol class='categories'>
      {% endif %}
        <li><a href="?category={{category|urlencode}}">{{category}}</a></li>
      {% if loop.last %}
      </ol>
      {% endif %}
      {% endfor %}
    </header>
    <div class='article-body'>
      {{entry.body|safe}}
    </div>
  </article>
  {% if loop.last %}
  <nav>
    <a href="/">
    start over
    </a>
    <a href="?older-than={{entry.timestamp.isoformat()|urlencode}}&{{filters|query_string}}">
    keep going
    </a>
  </nav>
  {% endif %}
  {% endfor %}
{% endblock %}
