{% extends "base.html" %}
{% block content %}
  {% for entry in entries %}
  {% set subscription = subscriptions[entry.feed] %}
  <article>
    <header>
      <h1>
        {%- if entry.link %}
        <a href="{{entry.link}}" target="_blank">
        {%- endif -%}
          {{entry.title}}
        {%- if entry.link -%}
        </a>
        {%- endif %}
      </h1>
      {%- if subscription.site %}
      <a href="{{subscription.site}}" target="_blank">
      {%- endif -%}
        {% if subscription.icon %}
        <img src="{{subscription.icon}}" class="icon"/>
        {% endif %}
        {{subscription.title}}
      {%- if subscription.site -%}
      </a>
      {%- endif %}
      <time datetime="{{entry.timestamp.isoformat()}}" title="{{entry.timestamp|friendly_date}}">
      {{ entry.timestamp|time_ago }} ago
      </time>
    </header>
    <div class='article-body'>
      {{entry.body|safe}}
    </div>
  </article>
  {% if loop.last %}
  <a class='older' href="?older-than={{entry.timestamp.isoformat()|urlencode}}">
  older articles
  </a>
  {% endif %}
  {% endfor %}
{% endblock %}
