{% extends 'base.html' %}
{% block content %}
<main class='pure-g'>
    <section class='pure-u-1-3'>
    </section>
    <section class='pure-u-2-3'>
        <ol>
            {% for entry in entries %}
            <li>
                <article>
                    <header>
                        <h2><a href='{{ entry.url }}' target='_blank'>{{ entry.title }}</a></h2>
                        <h3>
                            <time data-iso='{{ entry.published.isoformat() + "Z" }}'>{{ entry.published }}</time> at
                            <a href='{{ url_for('feed', feed_slug=entry.feed.slug) }}'>{{ entry.feed.title }}</a>
                        </h3>
                    </header>
                    <section>
                    {{ entry.body|safe }}
                    </section>
                </article>
            </li>
            {% endfor %}
        </ol>
    </section>
    <section class='pure-u-1-5'>
    </section>
</main>
{% endblock %}
