{% extends 'base.html' %}
{% block content %}
<main class='pure-g'>
    <section class='pure-u-1-1'>
        <ol>
            {% for entry in entries %}
            <li>
                <article>
                    <header>
                        <h2><a href='{{ entry.url }}' target='_blank'>{{ entry.title }}</a></h2>
                        <h3>
                            <time title='{{ entry.published.isoformat() + "Z" }}' data-iso='{{ entry.published.isoformat() + "Z" }}'>{{ entry.published }}</time> at
                            <a href='{{ url_for('index') }}?feed={{ entry.feed.url }}'>{{ entry.feed.title }}</a>
                        </h3>
                        <ul class='categories'>
                            {% for category in entry.feed.categories %}
                            <li><a href='{{ url_for('index') }}?category={{ category }}'>{{category}}</a></li>
                            {% endfor %}
                        </ul>
                    </header>
                    <section>
                    {{ entry.body|safe }}
                    </section>
                </article>
            </li>
            {% endfor %}
        </ol>
    </section>
</main>
{% endblock %}
