{% extends 'base.html' %}
{% block content %}
<main>
    {% for entry in entries %}
    {% if loop.first %}
    <section>
    {% endif %}
        <article class='pure-g'>
            <header class='pure-u-1 pure-u-md-1-5'>
                <h2><a href='{{ entry.url }}' target='_blank'>{{ entry.title|safe }}</a></h2>
                <h3>
                    <time title='{{ entry.published.isoformat() + "Z" }}' data-iso='{{ entry.published.isoformat() + "Z" }}'>{{ entry.published }}</time>
                    {% if entry.authors %}
                    by <ul class='authors'>
                        {% for author in entry.authors %}
                        <li><a href='{{ url_for('index') }}?q={{author|urlencode}}'>{{author}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    from <a href='{{ url_for('index') }}?feed={{ entry.feed.url|urlencode }}'>{{ entry.feed.title }}</a>
                </h3>
                <ul class='categories'>
                    {% for category in entry.feed.categories %}
                    <li><a href='{{ url_for('index') }}?category={{ category|urlencode }}'>{{category}}</a></li>
                    {% endfor %}
                </ul>
                <ul class='tags'>
                    {% for tag in entry.tags %}
                    <li><a href='{{ url_for('index') }}?q={{tag|urlencode}}'>{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </header>
            <section class='pure-u-1 pure-u-md-4-5'>
            {% for enclosure in entry.enclosures %}
                {% if enclosure.type.startswith('video/') %}
                <video controls preload='metadata' src="{{ enclosure.url }}"{% if entry.image %}poster="{{ entry.image }}"{% endif %}></video>
                {% elif enclosure.type.startswith('audio/') %}
                <audio controls preload='metadata' src="{{ enclosure.url }}"></audio>
                {% endif %}
            {% endfor %}

            {{ entry.body|safe }}
            </section>
        </article>
    {% if loop.last %}
    </section>
    <footer>
        <a href='{{ url_for('index') }}?older-than={{ entry.published.isoformat() + "Z" }}'>
            Older than <time title='{{ entry.published.isoformat() + "Z" }}' data-iso='{{ entry.published.isoformat() + "Z" }}'>{{ entry.published }}</time>
        </a>
    </footer>
    {% endif %}
    {% else %}
    </section>
    <footer>
        No entries found.  <a href='{{ url_for('index') }}'>Start Over</a>
    </footer>
    {% endfor %}
</main>
{% endblock %}
