{% extends "base.html" %}
{% block content %}
<form method="POST">
  <table class="subscriptions">
    <thead>
      <tr>
        <th class="icon"></th>
        <th class="feed">
          <input type="text" name="feed" placeholder="add a new feed" />
        </th>
        <th class="action">
          <input type="submit" name="action" value="add" />
        </th>
      </tr>
    </thead>
    {%- for subscription in subscriptions %}
    <tr>
      <td class="icon">
        {%- if subscription.icon %}
        <img src="{{subscription.icon}}" class="icon" />
        {%- endif %}
      </td>
      <td class="feed">
        <a href="/?feed={{subscription.feed}}" class="title">
          {% if subscription.title %}
          {{subscription.title}}
          {% elif subscription.site %}
          {{subscription.site}}
          {% else %}
          {{subscription.feed}}
          {% endif %}
        </a>
        <br />
        <a href="{{subscription.feed}}" target="_blank" class="feed">
          {{subscription.feed}}
        </a>
        <br />
        {{ subscription|crawl_sparkline }}
      </td>
      <td class="action">
        <form method="POST">
          <input type="hidden" name="feed" value="{{subscription.feed}}" />
          <input type="submit" name="action" value="delete" />
        </form>
      </td>
    </tr>
    {%- endfor %}
  </table>
</form>
{% endblock %}
