:root {
    --text-color: #222222;
    --background-color: #eeeeee;
    --elevated-background-color: #eeeeee;
    --elevation-shadow: #bbbbbb;
    --divider-color: #dddddd;
    --link-color: #0000ee;
    --visited-link-color: #551A8B;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #222222;
        --background-color: #eeeeee;
        --elevated-background-color: #eeeeee;
        --elevation-shadow: #bbbbbb;
        --divider-color: #dddddd;
        --link-color: #0000ee;
        --visited-link-color: #551A8B;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #eeeeee;
        --background-color: #222222;
        --elevated-background-color: #282828;
        --elevation-shadow: #1C1C1C;
        --divider-color: #444444;
        --link-color: #8888ee;
        --visited-link-color: #773CAD;
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 22px;
}

a {
    color: var(--link-color);
}
a:visited {
    color: var(--visited-link-color);
}

img.icon {
    display: inline-block;
    max-width: 1em;
    max-height: 1em;
}

nav {
    display: flex;
    background-color: var(--elevated-background-color);
    width: 100%;
    height: 3em;
    line-height: 3em;
}
nav a {
    flex: 1;
    display: block;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    color: var(--text-color);
}
nav a:visited {
    color: var(--text-color);
}

article {
    margin: 1em;
    border-bottom: 1px dashed var(--divider-color);
    padding: 1em 0 1em 0;
    display: flex;
}
article:first-child {
    margin-top: 0;
    padding-top: 0;
}

article>header {
    flex: 1;
    order: 1;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    z-index: 1;
}
article>header h1 {
    font-size: 24px;
}
article>header a {
    color: var(--text-color);
    text-decoration: none;
}
article>header .site-link,
article>header time {
    display: block;
}
article>header .creators,
article>header .categories {
    margin: 1em 0 0 0;
    padding: 0;
}
article>header .creators li,
article>header .categories li {
    list-style-type: none;
}

article>footer {
    display: none;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 20px;
    }
    nav {
        height: 2.5em;
        line-height: 2.5em;
        filter: drop-shadow(0px -4px 4px var(--elevation-shadow));
    }
    article {
        display: block;
        margin: 0;
        border-bottom: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    article>header {
        padding: 0.5em;
        background-color: var(--elevated-background-color);
        font-size: 12px;
        text-align: center;
        filter: drop-shadow(0px 4px 4px var(--elevation-shadow));
    }
    article>header h1 {
        font-size: 14px;
    }
    article>header .site-link,
    article>header time {
        display: inline-block;
    }
    article>header .creators,
    article>header .categories {
        display: none;
    }

    article>footer {
        display: block;
        position: sticky;
        bottom: 0px;
        height: 2em;
        line-height: 2em;
    }
    article>footer a {
        position: absolute;
        right: 0px;
        padding: 0 1em;

        font-style: italic;
        text-decoration: none;
        color: var(--text-color);

        opacity: .8;
        background-color: var(--elevated-background-color);
        filter: drop-shadow(0px -4px 4px var(--elevation-shadow));
        text-align: right;
    }
    article>footer a:visited {
        color: var(--text-color);
    }
}

article>.article-body {
    flex: 3;
    order: 2;
    margin: 0em 1em 0em 1em;

    line-height: 1.33em;
}

.article-body * {
    max-width: 100% !important;
}

.article-body img,
.article-body iframe {
    height: auto !important;
}

.article-body blockquote {
    font-style: italic;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.article-body table {
    width: auto;
}

.article-body iframe.video {
    width: 640px;
    height: 480px;
}


table th {
    text-align: left;
}
