* {
    box-sizing: border-box;
}
html, body {
    background: white;
    color: #222222;
    overflow-x: hidden;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Helvetica, sans-serif;
}

a {
    color: #222222;
    text-decoration: underline;
}
a:hover {
    color: #666666;
}

section > ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}


article {
    clear: both;
    position: relative;
}
article header {
    position: absolute;
    left: 0;
    width: 17%;
    margin-left: 1em;
    overflow-x: hidden;
}
article header h2 {
    font-size: 17px;
    margin: 0;
    font-weight: normal;
}
article header h2 a {
    text-decoration: none;
    font-style: italic;
}
article header h3 {
    font-weight: normal;
    font-size: 15px;
    margin: 0.3em 0;
}
article header h3 a {
    text-decoration: none;
    font-style: italic;
}
article section {
    font-family: Georgia, serif;
    font-size: 21px;
    line-height: 27px;
    border-bottom: 1px dashed #AAAAAA;
    margin: .2em 4em 1em 20%;
    min-height: 9em;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    font-family: Helvetica, sans-serif;
    line-height: 1.2em;
    font-weight: normal;
}
article h1 code, article h2 code, article h3 code, article h4 code, article h5 code, article h6 code {
    font-size: inherit;
}
article p {
    margin: 0em 0em 1em 0em;
}
article code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 19px;
}
article .codehilite pre {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 17px;
    line-height: 21px;
    margin: 8px 0px;
}
article img {
    max-width: 100%;
    display: block;
}
article table {
    width: 100%;
}
article table th, article table td {
    padding: 0.25em;
}
article table th {
    border-bottom: 1px dotted #BBBBBB;
}
article hr {
    display: none;
}
article blockquote {
    font-style: italic;
}

.math .mi, .math .mo {
    color: #222222;
}
